.bg-1{
  background-color: navy;
  color: white
}
.bg-3 {
  background-color: lightblue;
  color: black;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.container {
  padding-top: 70px;
  padding-bottom: 70px;
}
