<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <ul class="navbar-nav">
    <div class = "navbar-header">
      <a class = "navbar-brand" target="_blank">Travel App</a>
   </div>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="routerLinkDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Menu
      </a>
      <div class="dropdown-menu" aria-labelledby="routerLinkDropdown">
        <a class="dropdown-item" [routerLink]="['/ticket']">Travel Request</a>
        <a class="dropdown-item" [routerLink]="['/about']">About</a>
      </div>
    </li>


  </ul>
</nav>

<br />
<br />
<br />
<div class="container">
<router-outlet></router-outlet>
</div>
